Flask
fastapi
nltk
pydantic
uvicorn
starlette
faiss-cpu
llama_index
pypdf2
llama-index-embeddings-huggingface

llama_index.vector_stores.qdrant
llama-index-llms-llama-api
llama-index-program-openai

llama-index-extractors-entity
qdrant_client
fastembed

python-doten